@model IEnumerable<HAPINUT.Models.Pages.PageViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <h1 class="text-center">There are no pages.</h1>
}
else
{
    <div class="container">
        <div>
            <h2>Danh Sách Bài Viết</h2>

            @Html.ActionLink("Tạo bài viết", "AddPage", new { @class = "btn btn-primary" })

        </div>
        <table class="table">
            <thead>
                <tr style="background-color:slategray; color: white">
                    <th>
                        Tiêu đề bài viết
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr id="id_@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditPage", new { id = item.Id }) |
                        @Html.ActionLink("Details", "PageDetails", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeletePage", new { id = item.Id }, new { @class = "delete" })
                    </td>
                </tr>
            }

        </table>
    </div>
}

@section Scripts {
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>

        $(function () {

            /*
            * Confirm page deletion
            */

            $("a.delete").click(function () {
                if (!confirm("Confirm page deletion")) return false;
            });

            //////////////////////////////////////////////////////////////

            /*
            * Reorder pages
            */

            $("table#pages tbody").sortable({
                items: "tr:not(.home)",
                placeholder: "ui-state-highlight",
                update: function () {
                    var ids = $("table#pages tbody").sortable("serialize");
                    var url = "/Admin/Pages/ReorderPages";

                    $.post(url, ids, function (data) {
                    });
                }
            });

            //////////////////////////////////////////////////////////////
        });

    </script>

}

